.list--item {
  text-align: center;
  transition: background 0.5s ease;
  &:hover {
    background: $primary;
    > a span {
      color: white;
    }
  }
  > a span {
    transition: color 0.5s ease;
  }
}

.list--counter {
  display: inline-block;
  text-align: center;
  line-height: 1 !important;
  max-width: 130px;
  position: relative;
  margin: 0 15px;
  padding: 5px;
  color: $primary;
  &:before {
    content: ' ';
    position: absolute;
    border-left: 1px solid $primary;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    padding: 5px;
    top: -5px;
    bottom: -5px;
    left: -1px;
  }
  &:after {
    content: ' ';
    position: absolute;
    border-right: 1px solid $primary;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    padding: 5px;
    top: -5px;
    bottom: -5px;
    right: -1px;
  }
}
