@import '../../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../../node_modules/bulma/sass/utilities/functions';

@import url('https://fonts.googleapis.com/css?family=Arapey:400,400i');
$body-size: 16px !default;
$family-serif: "Arapey", serif;
$family-primary: $family-serif;

$sea-green: #1DD3B0;
$sea-green-invert: findColorInvert($sea-green);

$canary: #FFFF82;
$canary-invert: findColorInvert($canary);

$orange-soda: #ED6A5A; 
$orange-soda-invert: findColorInvert($orange-soda);

$cerulean: #00A7E1;
$cerulean-invert: findColorInvert($cerulean);

$gainsboro: #D9E5D6;
$gainsboro-invert: findColorInvert($gainsboro);


$primary: $sea-green;
$primary-invert: $sea-green-invert;

$danger: darken($orange-soda, 10%);
$danger-invert: $orange-soda-invert;


@import '../../../node_modules/bulma/sass/utilities/derived-variables';
$addColors: (
  "sea-green":($sea-green, $sea-green-invert),
  "canary": ($canary, $canary-invert),
  "orange-soda": ($orange-soda, $orange-soda-invert),
  "cerulean": ($cerulean, $cerulean-invert),
  "gainsboro": ($gainsboro, $gainsboro-invert)
);
$colors: map-merge($colors, $addColors);

@import '../../../node_modules/bulma/bulma';