@import '../../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../../node_modules/bulma/sass/utilities/functions';

@import url('https://fonts.googleapis.com/css?family=Arapey:400,400i');
$body-size: 16px !default;
$family-serif: 'Arapey', serif;
$family-primary: $family-serif;

$sea-green: #1dd3b0;
$sea-green-invert: findColorInvert($sea-green);

$canary: #ffff82;
$canary-invert: findColorInvert($canary);

$orange-soda: #ed6a5a;
$orange-soda-invert: findColorInvert($orange-soda);

$cerulean: #00a7e1;
$cerulean-invert: findColorInvert($cerulean);

$gainsboro: #d9e5d6;
$gainsboro-invert: findColorInvert($gainsboro);

$dark-green: #03312e;
$dark-green-invert: findColorInvert($dark-green);

$primary: $sea-green;
$primary-invert: $sea-green-invert;

$danger: darken($orange-soda, 10%);
$danger-invert: $orange-soda-invert;

@import '../../../node_modules/bulma/sass/utilities/derived-variables';
$addColors: (
  'sea-green': ($sea-green, $sea-green-invert),
  'canary': ($canary, $canary-invert),
  'orange-soda': ($orange-soda, $orange-soda-invert),
  'cerulean': ($cerulean, $cerulean-invert),
  'gainsboro': ($gainsboro, $gainsboro-invert),
  'dark-green': ($dark-green, $dark-green-invert)
);
$colors: map-merge($colors, $addColors);

@import '../../../node_modules/bulma/bulma';
